.productList {
    width: 80%;
    margin: 8em auto;
    display: flex;

    flex-direction: column;
    gap: 4em;
    color: #474747;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}


@media screen and (max-width:720px) {
    .list {
        width: 90%;

        grid-template-columns: 1fr;

    }
}