tr:nth-child(odd){
    background-color: #F1F1F1;
}
tr:nth-child(even){
    background-color: #F8F8F8;
}
table{
    width: 80%;
    text-align: left;
    color: #474747;
    box-shadow: 5px 5px 20px #B5B5B520;
    border: 1px solid #BEBEBE30;
}
tr{
    margin: 0;
    gap: 0;
}
td, th{
    margin: 0;
    padding: 1em 2em;
    font-size: 14px;
    width: 25%;
}
.x-icon{
    text-align: right;
}
th{
    background-color: #FFFFFF;

}